html, body{ 
	min-height: 100%; 
	}
body{ 
	position: relative; 
	background-color: rgb(245,245,245);
	}
.navbar-fixed-top1{
  position: fixed;
  top: 0;
  height: 10%;
  left: 0;
  right: 0;
  z-index: 1040;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-fixed-left{
  position: fixed;
  left: 0;
  height: 90%;
  width: 15%;
  bottom: 0;
  z-index: 1040;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.content{
	position:relative;
	height:auto;
	margin-right:0;
	top:10%;
	margin-left:15%;
}